<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
                <div class="card-body">
                  <a href="<%= @project.link %>" class="card-title" style="font-size: 30px; text-decoration: none;"><%= @project.title %></a>
                  <p class="card-text">
                    <%= @project.description %>
                  </p>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col">
                      <span class="text-muted">
                        <%= time_ago_in_words(@project.created_at) %> ago
                      </span>
                    </div>
                  </div>
                </div>
      </div>
    </div>
  
    <hr class="my-4">
  
    <div class="row justify-content-center">
      <div class="col-md">
        <% @project.images.each do |image| %>
          <%= link_to image_tag(image, class: "project-image"), image %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container text-center mt-4">
    <%= link_to 'Back' , admin_projects_path, class: "btn btn-secondary" %>
  </div>